.navbar-brand {
    font-family: 'Brush Script MT', 'Brush Script Std', cursive;
    font-size: 30px;
    display: grid;
}
body {
    background-color: rgb(124, 124, 124);
}
.carousel {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
.d-inline-block {
    margin-left: auto;
    margin-right: auto;
}
